<template name="index">  

  <div class="container">  

    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>

    <div class="isLoaded hide">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center buffer2">
          <button class="btn btn-default" id="alert-button">Alert</button>
        </div>
      </div>

      {{#if driverEnRoute}}
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3>{{ driverEnRoute.driver_FN }} {{ driverEnRoute.driver_LN }} will be there shortly.</h3>
          <h3>If you need to move from your current location, keep pressing alert and the driver will get your most up-to-date location.</h3>        
        </div>
      </div>
      {{/if}}

    </div>

    <!-- /container -->
  </div>

</template>