<template name="index">  



  <div class="spinner-container">
    <div class="spinner text-center">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>


  <div class="isLoaded hide">

    <div class="map-container-home">
      {{#unless geolocationError}}
      {{> googleMap name="map" options=mapOptions}}
      {{else}}
      Geolocation failed: {{geolocationError}}
      {{/unless}}
    </div>



    {{#if driverEnRoute}}
    <div class="driver-message animated slideInLeft">
      <h3>{{ driverEnRoute.driver_FN }} {{ driverEnRoute.driver_LN }} will be there shortly.</h3>
      <h3>If you need to move from your current location, keep pressing alert and the driver will get your most up-to-date location.</h3>        
    </div>
    {{/if}}

    <div class="row">
      <div class="alert-button-wrapper">
        <button id="alert-button">Alert</button>
      </div>
    </div>

    

  </div>


</template>