<template name='nav'>

    <div class="navigation-wrapper">
      <button class="menu-icon">
        <span id="menuLines" class="glyphicon glyphicon-menu-hamburger"></span>
        <span id="menuX" class="glyphicon glyphicon-remove hide"></span>
      </button>

      <div id="navigation" class="hide">
        <ul class="navigation-list">
          <a class="nav-menu-item" href="/"><li class="navigation-item">Home</li></a>
          <a class="nav-menu-item" href="/driver"><li class="navigation-item">Driver</li></a>
          {{#if currentUser}}
          <a class="nav-menu-item" href="#"><li id="logout" class="navigation-item">Logout</li></a>
          <!-- {{else}}
          <li class="navigation-item"><a href="/login">Login/Create Account</a></li> -->
          {{/if}}
        </ul>
      </div>
    </div>


  </template>