<template name='nav'>

  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LC Carma</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/driver">Driver</a></li>
        {{#if currentUser}}
          <li id="logout"><a href="#">Logout</a></li>
        {{else}}
        <li><a href="/login">Login/Create Account</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
  
</template>