.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 0;
}


#alert-button {

}

.alert-item {
  list-style: none;
  border: black 2px solid;
}

.red {
  background-color: red;
}